/* Write your CSS code here */

.website-img2 {
  height: 150px;
  width: 240px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-img {
  height: 50px;
  width: 140px;
}

.errorMessage {
  font-family: 'Roboto';
  font-weight: 500;
  color: #ff0b37;
  font-size: 10px;
  margin-top: 10px;
}
.logo-container {
  text-align: center;
  margin-bottom: 13px;
  margin-top: 13px;
}
.website-img1 {
  display: none;
}

.logs-container {
}
.user-name {
  font-family: 'Roboto';
  font-size: 11px;
  color: #475569;
  font-weight: bold;
}

.username-input {
  font-family: 'Roboto';
  font-size: 12px;
  color: #475569;
  padding: 7px;
  border: none;
  border-radius: 3px;
  background-color: #d7dfe9;
  font-weight: 500;

  width: 170px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.password-input {
  font-family: 'Roboto';
  font-size: 12px;
  color: #475569;
  padding: 7px;
  border: none;
  border-radius: 3px;
  background-color: #d7dfe9;
  font-weight: 500;

  width: 170px;
  margin-top: 5px;
}

.login-btn {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  padding: 7px;
  border: none;
  border-radius: 6px;
  background-color: #0b69ff;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  width: 170px;

  margin-top: 15px;
}

.form-container {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 30px;
  border-radius: 8px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
}

.password {
  font-family: 'Roboto';
  font-size: 11px;
  color: #475569;
  font-weight: bold;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .logs-container {
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .website-img2 {
    display: none;
  }
  .website-img1 {
    height: 350px;
    width: 600px;
    display: block;
    margin-left: 8%;
  }
}
